{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block Title %}Authentication{% endblock %}</title>
    <style type="text/css">

    </style>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="vh-100" style="background-image: url('https://u9.by/assets/loginb4.jpg'); background-size: cover;">
    {% include 'authentication/nav.html' %}

    <div class="container mt-5">
        <div class="row d-flex justify-content-left">
            <div class="col-md-6 rounded text-dark bg-light" style="--bs-bg-opacity: .7;">
                {% block Body %}{% endblock %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/bootstrap.bundle.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

</body>
</html>