{%  extends 'authentication/base.html' %}
{% block Title %}Log-in{% endblock %}
{% block Body %}
<div class="container mt-5">
    <div class="row d-flex justify-content-left">
        <div class="col-md-4 rounded text-dark bg-light">
            <div class="opacity-50">
                <form method="post" action="">
                    <fieldset>
                        <legend>Login</legend>
                        {% csrf_token %}
                        {% for message in messages %}
                        <p style="color: turquoise">{{ message }}</p>
                        {% endfor %}
                        <table>
                            <tr>
                                <td><label for="username">Username: </label></td>
                                <td><input type="text" name="username" id="username"></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <td><label for="password">Password: </label></td>
                            <td><input type="password" name="password" id="password"></td>
                            <td></td>
                            <td><input type="submit" class="btn btn-danger" value="Login"></td>
                        </table>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}