{% extends 'polls/base.html' %}
{% block Title %}User Profile{% endblock %}
{% block Background %}<div class="vh-100" style="background-image: url('https://u9.by/assets/mainback.jpg'); background-size: cover;">{% endblock %}
{% block Body %}
    <div class="d-flex bd-highlight mb-2">
  <div class="p-2 bd-highlight">
<legend>User profile</legend>
<table>
    <tr>
        <td><strong>User Name:</strong></td>
        <td>{{ profile.user.username }}</td>
    </tr>
    <tr>
        <td><strong>User Email:</strong></td>
        <td> {{ profile.user.email }}</td>
    </tr>
    <!-- statistics -->
    <tr>
        <td>
            <strong>Customer: </strong></td>
        <td> {{ profile.user.is_staff }}</td>
    </tr>
    {% if request.user.is_superuser %}
    <tr>
        <td><strong>Superuser: </strong></td>
        <td>{{ profile.user.is_superuser }}
        </td>
    </tr>
    {% endif %}
</table>
{% if not profile.user.is_staff and not request.user.is_superuser %}
<a class="btn btn-warning" href="authentication/customer" role="button">Upgrade to our Customer</a>
{% endif %}
{% if request.user.is_superuser and not profile.user.is_staff %}
<a class="btn btn-danger" href="authentication/customer" role="button">Add Customer privileges</a>
{% endif %}
{% if request.user.is_superuser and profile.user.is_staff %}
<a class="btn btn-danger" href="authentication/customer" role="button">Remove Customer privileges</a>
{% endif %}
<br><br>
/div>
  <div class="p-2 bd-highlight">
  <legend>Notification methods</legend>
{{ form.as_p }}
    <input type="submit" class="btn btn-danger" value="Update notification information">
    <br><br>
</div>
</div>
{% endblock %}