{% extends 'polls/base.html' %}
{% block Title %}U9 User Profile{% endblock %}
{% block Background %}<div class="h-100" style="background-image: url('https://u9.by/assets/mainback.jpg'); background-size: cover;">{% endblock %}
{% block Body %}
      {% if form.errors %}
    <p style="color: orangered">Got errors! {{ form.errors }}</p>
    {% endif %}
    {% for message in messages %}
    <p style="color: orangered">{{ message }}</p>
    {% endfor %}
    <div class="d-flex flex-wrap bd-highlight mb-2">
  <div class="mr-auto p-2 bd-highlight">
<legend>User profile</legend>
<table>
    <tr>
        <td><strong>User Name:</strong></td>
        <td>{{ profile.user.username }}</td>
    </tr>
    <tr>
        <td><strong>User Email:</strong></td>
        <td> {{ profile.user.email }}</td>
    </tr>
    <!-- statistics -->
    <tr>
        <td>
            <strong>Customer: </strong></td>
        <td> {{ profile.user.is_staff }}</td>
    </tr>
    {% if request.user.is_superuser %}
    <tr>
        <td><strong>Superuser: </strong></td>
        <td>{{ profile.user.is_superuser }}
        </td>
    </tr>
    {% endif %}
</table>
{% if not profile.user.is_staff and not request.user.is_superuser %}
<a class="btn btn-warning" href="authentication/customer" role="button">Upgrade to our Customer</a>
{% endif %}
{% if request.user.is_superuser and not profile.user.is_staff %}
<a class="btn btn-danger" href="authentication/customer" role="button">Add Customer privileges</a>
{% endif %}
{% if request.user.is_superuser and profile.user.is_staff %}
<a class="btn btn-danger" href="authentication/customer" role="button">Remove Customer privileges</a>
{% endif %}
<br><br>
</div>
  <div class="mr-auto p-2 bd-highlight">
  <legend>Notification methods</legend>
      <form action="" method="post">
          {% csrf_token %}
            <table>
            {{ form.as_table }}
            </table>
          <input type="submit" class="btn btn-danger" value="Update notification methods">
      </form>
    <br><br>
</div>
     <div class="p-2 bd-highlight">
  <legend>API requests:</legend>
<i>Note: try to avoid direct calling of API <br>(like https://u9.by/b/12345/?request_param_one&request_param_two) <br>not to allow your Hashcode to be stolen.</i>
<br><br><i>Better <b>convert your API calling link into a short link format like u9.by/tdbd </b></i>
<br><i>In this case you will:
         <br> - hide your Hashcode visually,
         <br> - will get statistics of your API call, and can embed it into webpage or app
         <br> - create different short link for different apps and pages you handle
         <br> - can switch on/off your API call with Link Premiere / Deprecated function </i>
        <br><br>
            <table>
                <tr>
                    <td><b>Hashcode for API requests: </b></td>
                    <td>{{ hashcode }}</td>
                </tr>
            </table>

    <br><br>
</div>
</div>
{% endblock %}