{%  extends 'authentication/base.html' %}
{% block Title %}U9 Password Reset Done{% endblock %}
{% block Body %}
    <form method="post" class="container">
        <fieldset>
            <legend>Enter new password</legend>
            {% csrf_token %}
            {% for message in messages %}
                <p style="color: turquoise">{{ message }}</p>
            {% endfor %}
            <div class="form-row">
            Please enter your new password <br>twice so we can verify you typed it in correctly.
            <br>
                </div>
            <fieldset class="module aligned">
                <input class="hidden" autocomplete="username" value="rand4" hidden>
                <div class="form-row field-password1">
                    <label for="id_new_password1">New password:</label>
                    <input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
                </div>
                <div class="form-row field-password2">
                    <label for="id_new_password2">Confirm password:</label>
                    <input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                </div>
                    <div class="form-row">
                    If the form doesn't allow you to submit the password -<br> use more complicated password.
                       <br> Add an uppercase letter, a digit and a special symbol <br>to proceed to the next step.
                   <br>
                    </div>
                    <input type="submit" class="btn btn-danger" value="Change my password">
            <br><br>
            </fieldset>
        </fieldset>
    </form>
{% endblock %}