{% extends 'polls/base.html' %}
{% block Title %}{{ urlentry.url_short }} Detail{% endblock %}
{% block Background %}
<div class="h-100" style="background-image: url('https://u9.by/assets/mainback.jpg'); background-size: cover;">
    {% endblock %}
    {% block Body %}
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <legend>Details</legend>
    {% if form.errors %}
    <p style="color: orangered">Got errors! {{ form.errors }}</p>
    {% endif %}
    {% for message in messages %}
    <p style="color: orangered">{{ message }}</p>
    {% endfor %}
        <form action="{% url 'polls:update' urlentry.id %}" method="post">
            {% csrf_token %}
    <div class="d-flex flex-row align-content-start flex-wrap bd-highlight mb-3 justify-content-space-around">
        <div class="p-2 justify-content-center col-md-3 mx-2 my-2 my-sm-3 my-lg-4 bd-highlight rounded" style="background-color: #EEF2F2;">
            <p align="center"><legend><a href="https://u9.by/{{ urlentry.url_short }}">
                u9.by/{{ urlentry.url_short }}
            </a>
            </legend>
            </p>

            <p align="center">
            <div class="row">
            <div class="w-50 mx-auto" id="qrcode"></div>
            </div>
            <script type="text/javascript">
var qrcode = new QRCode(document.getElementById("qrcode"), {
	text: "u9.by/{{ urlentry.url_short }}",
	width: 100,
	height: 100,
	colorDark : "#5868bf",
	colorLight : "#ffffff",
	correctLevel : QRCode.CorrectLevel.L
});
            </script>
            </p>

            <br>
            {% if urlentry.author == request.user %}
            <p align="center"><button type="button" onclick="location.href='{% url 'polls:results' urlentry.id %}'"
                    class="btn btn-danger">
                Get clicks statistics
            </button></p>
            {% endif %}

        </div>
            <div class="p-2 col-md-3 mx-2 my-2 my-sm-3 my-lg-4 bd-highlight rounded" style="background-color: #EEF2F2;">
                <fieldset>
                    <label><strong>Author: </strong></label>{{ urlentry.author }} <br>
                    <input type="hidden" name="author" value="{{ request.user }}"/>
                    <input type="hidden" name="url_id" value="{{ urlentry.url_id }}"/>
                    <label><strong>Create date: </strong></label>{{ urlentry.create_date }} <br>
                    <label><strong>URL: </strong>
                        {% if urlentry.author == request.user %}
                        <input type="text" name="url_text" id="url_text" value="{{ urlentry.url_text }}">
                        {% endif %}
                        <a href="{{ urlentry.url_text }}">Go!</a></label>
                    <br>
                    <input type="hidden" name="qr_code" value="{{ urlentry.qr_code }}"/>
                    <input type="hidden" name="snapshot" value="{{ urlentry.snapshot }}"/>
                    <label><strong>QR code to original link: </strong></label> <br>
                    <p align="center">
                    <img src="{{ urlentry.qr_code }}" width="100" height="100" alt="qr">
                    </p>
            </div>

            {% if urlentry.author == request.user %}
            <div class="p-2 col-md-5 mx-2 my-2 my-sm-3 my-lg-4 rounded bd-highlight" style="background-color: #EEF2F2;">

                <legend>Widgets</legend>

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item bg-info">
                        <h2 class="accordion-header" id="headingOne" style="background-color: #34fbc2;">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Clicks counter
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <b> Direct link: </b>
                                <a href="{% url 'polls:get' urlentry.pk %}">https://u9.by{% url 'polls:get' urlentry.pk %}</a>
                                <br><b> PHP: </b> <br>
                                &lt;?php echo file_get_contents(&quot;https://u9.by/polls/{{ urlentry.pk }}/results/get&quot;);
                                ?&gt;
                                <br><b> JavaScript: </b>
                                <br>
                                &lt;div id=&quot;raz1&quot;&gt;&lt;/div&gt;
                                &lt;script&gt;
                                (function(){
                                var http = new XMLHttpRequest();
                                http.open('GET', 'https://u9.by/polls/{{ urlentry.pk }}/results/get');
                                http.onreadystatechange = function () {
                                if (this.readyState == 4 &amp;&amp; this.status == 200) {
                                document.getElementById('raz1').innerHTML = this.responseText;
                                }
                                }
                                http.send(null);
                                })()
                                &lt;/script&gt;
                                <br> <br>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if urlentry.author == request.user and request.user.is_staff %}
                    <div class="accordion-item bg-info">
                        <h2 class="accordion-header" id="headingTwo" style="background-color: #34fbc2;">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Short link with snapshot
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <b> HTML code: </b> <br>
                                &lt;a href="https://u9.by/{{ urlentry.url_short }}">
                                &lt;img src="{{ urlentry.snapshot }}" width="204" height="152" alt="snapshot">&lt;/a>
                                <br> <br><b> Result: </b> <br>
                                <a href="https://u9.by/{{ urlentry.url_short }}">
                                    <img src="{{ urlentry.snapshot }}" width="204" height="152" alt="snapshot">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                {% endif %}

            </div>
    </div>
    {% if urlentry.author == request.user %}
    {% if request.user.is_staff %}
             <div class="col-md-11 mx-2 my-2 my-sm-3 my-lg-4 rounded bd-highlight" style="background-color: #EEF2F2;">
    <legend><h2>Customer section</h2></legend>

                 <div class="col-md-6 mx-2 my-5 my-sm-5 my-lg-5" >
    <label><strong>Snapshot: </strong> <a href={{ urlentry.snapshot }}>take</a></label> <br>
    <img src="{{ urlentry.snapshot }}" width="204" height="152" alt="snapshot"><br>
                  </div>
                 <div class="col-md-6 mx-2 my-5 my-sm-5 my-lg-5" >
    <label><strong>Partner ads: </strong>
        <input type="text" name="partner_ads" id="partner_ads" value="{{ urlentry.partner_ads }}">
    </label>
            </div>
                  <div class="col-md-12 mx-2 my-2 my-sm-3 my-lg-4" >

    <div><strong>Link available </strong>
<br>
            <div class='col-md-5'>
                <div class="form-group">
                    from:
           <div class="form-group">
            <div class="control-group required">
                <div class="controls">
      <input type="text" id="datetime_available_from" class="form-control input-datetimepicker" name="datetime_available_from" data-toggle="datetimepicker" data-target="#datetime_available_from" value="{{ urlentry.datetime_available_from|date:"Y-m-j G:i" }}"/>
<script type="text/javascript">
         $(function () {
             $('#datetime_available_from').datetimepicker({
                 format:'YYYY-MM-DD HH:mm',
             });
         });
      </script>
                    </div>
                </div>
            </div>
                    </div>
                </div>

            <div class='col-md-5'>
                <div class="form-group">
                    to:
                               <div class="form-group">
            <div class="control-group required">
                <div class="controls">
      <input type="text" id="datetime_available_to" class="form-control input-datetimepicker" name="datetime_available_to" data-toggle="datetimepicker" data-target="#datetime_available_to" value="{{ urlentry.datetime_available_to|date:"Y-m-j G:i" }}"/>
<script type="text/javascript">
         $(function () {
             $('#datetime_available_to').datetimepicker({
                 format:'YYYY-MM-DD HH:mm'
             });
         });
      </script>
                    </div>
                </div>
            </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
   $(document).ready(function () {
       $('#datetime_available_from').datetimepicker({
                 defaultDate: "{{ urlentry.datetime_available_from }}"
             });
       $('#datetime_available_to').datetimepicker({
   useCurrent: false //Important! See issue #1075
   });
       $("#datetime_available_from").on("dp.change", function (e) {
           $('#datetime_available_to').data("DateTimePicker").minDate(e.date);
       });
       $("#datetime_available_to").on("dp.change", function (e) {
           $('#datetime_available_from').data("DateTimePicker").maxDate(e.date);
       });
   });

        </script
            <br><br>
    </div>


        {% endif %} {% endif %}

</div>
        {% if urlentry.author == request.user and request.user.is_staff %}
        <br><input type="submit" class="btn btn-danger" value="Update Link">
 </fieldset>
        </form>
        {% endif %}
        <br>        <br>
        {% endblock %}