{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5; URL={{ body_block }}">
    <title>{% block Title %}Links{% endblock %}</title>
</head>
<body>
   <iframe src="{{ frame_block }}" width="100%" height="500" align="center">
    advertisement frame
   </iframe>
  <br><br><br><br>
   <p align="center" font-size:30px">
 This advertisement block will close in 5 seconds  and redirect you to:<br>
  <a href="{{ body_block }}"><b>{{ body_block }}</b></a><br> <br>
<b>  <a href="{{ body_block }}">Click this to redirect immediately.</a> </b>
</p>
</body>
<html>
