{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="5; URL={{ body_block }}">
    <title>{% block Title %}{{ body_block }}{% endblock %}</title>
</head>
<!-- Start Open Web Analytics Tracker -->
<script type="text/javascript">
//<![CDATA[
var owa_baseUrl = 'https://apps.u9.by/OpenWeb/';
var owa_cmds = owa_cmds || [];
owa_cmds.push(['setSiteId', '5152df4310ab10eeb7db3ad63ee2404e']);
owa_cmds.push(['trackPageView']);
owa_cmds.push(['trackClicks']);

(function() {
    var _owa = document.createElement('script'); _owa.type = 'text/javascript'; _owa.async = true;
    owa_baseUrl = ('https:' == document.location.protocol ? window.owa_baseSecUrl || owa_baseUrl.replace(/http:/, 'https:') : owa_baseUrl );
    _owa.src = owa_baseUrl + 'modules/base/dist/owa.tracker.js';
    var _owa_s = document.getElementsByTagName('script')[0]; _owa_s.parentNode.insertBefore(_owa, _owa_s);
}());
//]]>
</script>
<!-- End Open Web Analytics Code -->
<body>
   <iframe src="{{ frame_block }}" width="100%" height="500" align="center">
    advertisement frame
   </iframe>
  <br><br><br><br>
   <p align="center" font-size:30px">
 This block will close in 5 seconds and redirect you to:<br>
  <a href="{{ body_block }}"><b>{{ body_block }}</b></a><br> <br>
<b>  <a href="{{ body_block }}">Click this to redirect immediately.</a> </b>
</p>
</body>
<html>
