{% extends 'polls/base.html' %}
{% block Title %}U9 links multitools{% endblock %}
{% block Background %}<div class="h-100" style="background-image: url('https://u9.by/assets/mainback.jpg'); background-size: cover;">{% endblock %}
{% block Body %}

<style>
   .colortext {
     color: red; /* Красный цвет выделения */
   }



</style>

{% if links_list %}

{% if request.user.is_superuser %}
<legend>Links (click to edit):</legend>
{% if is_paginated %}
{% if request.user.is_authenticated %}
<div class="wrapper center-block"> <!-- collapsible opening -->
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading active" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Filter
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">

    <form id="filter-form" class="form" role="form" method="get" action="{% url 'polls:index' %}">
<div class="d-flex flex-row align-content-start flex-wrap bd-highlight mb-3 justify-content-space-around">
        <div class="p-2 justify-content-center col-md-4 mx-4 my-4 my-sm-4 my-lg-4 bd-highlight rounded">
        URL contains:<br>
            <div class="row">
        <div class="form-group col-sm-12">
            <div class="control-group required">
                <div class="controls">

                    <input class="form-control form-control-sm"  id="filter_url" maxlength="30" name="filter_url" type="text" value={{ filter_url }} />

                </div>
            </div>
        </div>
    </div>
        </div>

     <div class="p-2 justify-content-center col-md-2 mx-2 my-2 my-sm-2 my-lg-3 bd-highlight rounded">
    Author: <br>
         <div class="row">
        <div class="form-group col-sm-12">
            <div class="control-group required">
                <div class="controls">
                 <input class="form-control form-control-sm" id="filter_author" maxlength="30" name="filter_author" type="text" value="{% if 'submit=Filter' in request.build_absolute_uri %}{{ filter_author }}{% else %}{% endif %}" />
                </div>
            </div>
        </div>
    </div>
     </div>

    <div class="p-2 justify-content-center col-md-2 mx-2 my-2 my-sm-2 my-lg-2 bd-highlight rounded">
         Date from: <br>
           <div class="form-group">
            <div class="control-group required">
                <div class="controls">
      <input type="text" id="filter_datefrom" class="form-control input-datetimepicker" name="filter_datefrom" data-toggle="datetimepicker" data-target="#filter_datefrom" value="{{ filter_datefrom }}"/>
<script type="text/javascript">
         $(function () {
             $('#filter_datefrom').datetimepicker({
                 format:'YYYY-MM-DD HH:mm'
             });
         });
      </script>

                    </div>
                </div>
            </div>
        </div>

      <div class="p-2 justify-content-center col-md-2 mx-2 my-2 my-sm-2 my-lg-2 bd-highlight rounded">
         Date to: <br>
           <div class="form-group">
            <div class="control-group required">
                <div class="controls">
      <input type="text" id="filter_dateto" class="form-control input-datetimepicker" name="filter_dateto" data-toggle="datetimepicker" data-target="#filter_dateto" value="{{ filter_dateto }}"/>
<script type="text/javascript">
         $(function () {
             $('#filter_dateto').datetimepicker({
                 format:'YYYY-MM-DD HH:mm'
             });
         });
      </script>

                    </div>
                </div>
            </div>
        </div>

        <div class="p-2 justify-content-center col-md-1 mx-1 my-1 my-sm-1 my-lg-1 bd-highlight rounded">
            <br>
         <p><input class="btn btn-default" type="submit" class="button"
                  href="?filter_url={{ filter_url }}&filter_author={{ filter_author }}&filter_datefrom={{ filter_datefrom }}&filter_dateto={{ filter_dateto }}&submit=Filter"
                          name="submit" value="Filter"/></p>
        </div>
</div>
    </form>
      </div> <!-- collapsible closing -->
    </div><!-- collapsible closing -->
  </div><!-- collapsible closing -->
</div><!-- collapsible closing -->
</div>  <!-- collapsible closing -->
{% endif %}

 {% for links in links_list %}
    <tr>
        <td colspan="3">
            <a href="{% url 'polls:detail' links.id %}">
                {{ links.url_text|slice:':50' }}
            </a></td> <br>
        <td >
            <b>u9.by/{{ links.url_short }}</b>   [{{ links.author }}] {% if links.author.is_staff %} <span class="colortext">(customer)</span>
            {% endif %} <i>   {{ links.create_date }}</i>
        </td>
        <td>
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm" align="right">
                {% if links.author == request.user %}
            <a href="{% url 'polls:results' links.id %}" type="button" class="btn btn-danger btn-sm">
                Stats
            </a>
                {% endif %}
            <a href="{% url 'polls:delete' links.id %}" type="button" class="btn btn-danger btn-sm">
                Delete
            </a>
    </div>
  </div>
        </td> <br>
    </tr>
    {% endfor %}

{% if request.user.is_authenticated %}
<ul class="pagination">
        {% if page_obj.has_previous %}
      <li><a href="?filter_url={{ filter_url }}&filter_author={% if 'submit=Filter' in request.build_absolute_uri %}{{ filter_author }}{% else %}{% endif %}&filter_datefrom={{ filter_datefrom }}&filter_dateto={{ filter_dateto }}&submit=Filter&page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
      <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li><a href="?filter_url={{ filter_url }}&filter_author={% if 'submit=Filter' in request.build_absolute_uri %}{{ filter_author }}{% else %}{% endif %}&filter_datefrom={{ filter_datefrom }}&filter_dateto={{ filter_dateto }}&submit=Filter&page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
      <li><a href="?filter_url={{ filter_url }}&filter_author={% if 'submit=Filter' in request.build_absolute_uri %}{{ filter_author }}{% else %}{% endif %}&filter_datefrom={{ filter_datefrom }}&filter_dateto={{ filter_dateto }}&submit=Filter&page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
      <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
  </ul>
{% else %}
<table class="table-condensed">
    <tbody>
    {% for links in links_list %}
    <tr>
        <td colspan="3">
            <a href="{% url 'polls:detail' links.id %}">
                {{ links.url_text|slice:':50' }}
            </a></td>
        <td>
           <b></b>[{{ links.author }}] {% if links.author.is_staff %} <span class="colortext">(customer)</span>
            {% endif %}
        </td>
        <td>
            {{ links.create_date }}
        </td>
        <td>
            <a href="{% url 'polls:delete' links.id %}" type="button" class="btn btn-danger btn-sm">
                Delete
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endif %}

{% else %}
{% if request.user.is_authenticated %}
<legend>Your Links (click to edit):</legend>
{% if is_paginated %}
 <form id="filter-form" class="form" role="form" method="get" action="{% url 'polls:index' %}">
<div class="d-flex flex-row align-content-start flex-wrap bd-highlight mb-3 justify-content-space-around">
        <div class="p-2 justify-content-center col-md-4 mx-4 my-4 my-sm-4 my-lg-4 bd-highlight rounded">
        URL contains:<br>
            <div class="row">
        <div class="form-group col-sm-12">
            <div class="control-group required">
                <div class="controls">

                    <input class="form-control form-control-sm"  id="filter_url" maxlength="30" name="filter_url" type="text" value={{ filter_url }} />

                </div>
            </div>
        </div>
    </div>
        </div>

    <div class="p-2 justify-content-center col-md-2 mx-2 my-2 my-sm-2 my-lg-2 bd-highlight rounded">
         Date from: <br>
           <div class="form-group">
            <div class="control-group required">
                <div class="controls">
      <input type="text" id="filter_datefrom" class="form-control input-datetimepicker" name="filter_datefrom" data-toggle="datetimepicker" data-target="#filter_datefrom" value="{{ filter_datefrom }}"/>
<script type="text/javascript">
         $(function () {
             $('#filter_datefrom').datetimepicker({
                 format:'YYYY-MM-DD HH:mm'
             });
         });
      </script>

                    </div>
                </div>
            </div>
        </div>

      <div class="p-2 justify-content-center col-md-2 mx-2 my-2 my-sm-2 my-lg-2 bd-highlight rounded">
         Date to: <br>
           <div class="form-group">
            <div class="control-group required">
                <div class="controls">
      <input type="text" id="filter_dateto" class="form-control input-datetimepicker" name="filter_dateto" data-toggle="datetimepicker" data-target="#filter_dateto" value="{{ filter_dateto }}"/>
<script type="text/javascript">
         $(function () {
             $('#filter_dateto').datetimepicker({
                 format:'YYYY-MM-DD HH:mm'
             });
         });
      </script>

                    </div>
                </div>
            </div>
        </div>

        <div class="p-2 justify-content-center col-md-1 mx-1 my-1 my-sm-1 my-lg-1 bd-highlight rounded">
            <br>
         <p><input class="btn btn-default" type="submit" class="button"
                  href="?filter_url={{ filter_url }}&filter_author={{ filter_author }}&filter_datefrom={{ filter_datefrom }}&filter_dateto={{ filter_dateto }}&submit=Filter"
                          name="submit" value="Filter"/></p>
        </div>
</div>
    </form>

 {% for links in links_list %}
 {% if links.author == request.user %}
    <tr>
        <td>
            <a href="{% url 'polls:detail' links.id %}">
                {{ links.url_text|slice:':80' }}
            </a>
            </td><br>
        <td>
            <b>u9.by/{{ links.url_short }}</b>
        </td>
        <td>
            {{ links.create_date }}
        </td><br>

            <div class="col-xs-7 col-sm-7"> </div>
            <div class="col-xs-5 col-sm-5 pull-right">
            <a href="{% url 'polls:results' links.id %}" type="button" class="btn btn-danger btn-sm">
                Stats
            </a>

            <a href="{% url 'polls:delete' links.id %}" type="button" class="btn btn-danger btn-sm">
                Delete
            </a>
                </div>
             <br>
    </tr>
    <br>
    {% endif %}

    {% endfor %}

  <ul class="pagination">
        {% if page_obj.has_previous %}
      <li><a href="?filter_url={{ filter_url }}&filter_datefrom={{ filter_datefrom }}&filter_dateto={{ filter_dateto }}&submit=Filter&page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
      <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li><a href="?filter_url={{ filter_url }}&filter_datefrom={{ filter_datefrom }}&filter_dateto={{ filter_dateto }}&submit=Filter&page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
      <li><a href="?filter_url={{ filter_url }}&filter_datefrom={{ filter_datefrom }}&filter_dateto={{ filter_dateto }}&submit=Filter&page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
      <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
  </ul>
{% else %}
<table class="table-condensed">
    <tbody>
    {% for links in links_list %}
    <tr>
        <td colspan="3">
            <a href="{% url 'polls:detail' links.id %}">
                {{ links.url_text|slice:':50' }}
            </a></td>
        <td>
            {{ links.create_date }}
        </td>
        <td>
            <a href="{% url 'polls:results' links.id %}" type="button" class="btn btn-danger btn-sm">
                Stats
            </a>
            <a href="{% url 'polls:delete' links.id %}" type="button" class="btn btn-danger btn-sm">
                Delete
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endif %}
<br>
{% endif %}

{% else %}
<p>No links avaliable.</p>
{% endif %}
{% if request.user.is_authenticated %}
<br>
<a href="{% url 'polls:new' %}" type="button" class="btn btn-danger">Add New Link</a>
<br><br>
{% endif %}

{% if not request.user.is_authenticated %}
<span class="colortext"> <b>Please login or register to shorten links </b></span>  <br>  <br>
<b> Advantages </b> <br>
- Short link format <b>u9.by/aBc7D</b> From 4 to 5 characters in a shortened link after / <br>
- The shortened link uses only human-readable characters (a-z, A-Z, and the numbers 2 to 9)<br>
- 0 and 1 are not used, so as not to confuse them with Latin O and I<br>
- When you click on a shortened link, statistics are collected that are visible in your personal account<br>
- QR code generator, embeddable link click count (in PHP and JavaScript)<br>
<br>
<b>Advanced users (by subscription*)</b><br>
- Short link format <b>u9.by/aB7</b> up to 3 characters<br>
- Browser and OS Information, what site or account did the user come from<br>
- Embeddable screenshot of the site that the user goes to via the link<br>
- Setting the date and time of the beginning / end of the availability of the link <br>
- The ability to link ads to click on the link<br>
<i>*subscription can be paid for a short number via SMS, <br> the cost is approximately two cups of coffee.<br> One
    payment - registration forever.</i><br>
<br>
{% endif %}

{{ userlist }}
{% endblock %}