<nav class="navbar navbar-expand-md navbar-light" style="background-color: #34ebd2;">
    <div class="container container-fluid">
        <img src="assets/u9l_sm.png" width="270" height="140">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex flex-column bd-highlight mb-3">
            <div class="p-2 bd-highlight">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav">

                        {% if request.user.is_authenticated %}
                        <div class="p-2 bd-highlight">
                            <div class="nav-item">
                                <a class="nav-link" href="{% url 'auth:profile' request.user.profile.id %}">Profile [{{ user.username }}]</a>
                            </div>
                        </div>
                        {% if request.user.is_superuser %}
                        <div class="p-2 bd-highlight">
                            <div class="nav-item">
                                <a class="nav-link" href="{% url 'auth:users' %}"><span
                                        class="glyphicon glyphicon-sunglasses"></span>Users</a>
                            </div>
                        </div>
                        {% endif %}
                        <div class="p-2 bd-highlight">
                            <div class="nav-item">
                                <a class="nav-link" href="{% url 'auth:logout' %}">Logout</a>
                            </div>
                        </div>
                        {% else %}
                        <div class="p-2 bd-highlight">
                            <div class="nav-item">
                                <a class="nav-link" href="{% url 'auth:login' %}">Login</a>
                            </div>
                        </div>
                        <div class="p-2 bd-highlight">
                            <div class="nav-item">
                                <a class="nav-link" href="{% url 'auth:reg' %}">Register</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>


            <div class="p-2 bd-highlight">

                <div class="d-flex flex-row bd-highlight mb-3" style="background-color: #34fbc2;">

                    {% if request.user.is_authenticated %}
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="navbar-nav">
                            <div class="p-2 bd-highlight">
                                <div class="nav-item">
                                    <a class="nav-link" href="{% url 'polls:index' %}" aria-current="page"><b> <span
                                            class="glyphicon glyphicon-list"></span> List</b></a>
                                </div>
                            </div>
                            <div class="p-2 bd-highlight">
                                <div class="nav-item">
                                    <a class="nav-link" href="{% url 'polls:new' %}"><b> <span
                                            class="glyphicon glyphicon-link"></span> New Link</b></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>

            </div>

        </div>
                    <input type="button" class="btn btn-info" onclick="location.href='https://a.u9.by'"
                           value="Our additional soft">

    </div>
</nav>