{% extends 'polls/base.html' %}
{% block Title %}Link{% endblock %}
{% block Body %}
    <form class="form-inline" action="" method="post" >
        {% csrf_token %}
        <fieldset>
            <legend>Link</legend>
                    <div class="form-group row">
                            <div class="col-xs-5">
                                {{ form|as_p }}
                            </div>
                    </div>
                    <input type="submit" class="btn btn-danger" value="Submit Link">
        </fieldset>
    </form>
{% endblock %}