
{% extends 'polls/base.html' %}
{% block Title %}Link{% endblock %}
{% block Body %}
    <form action="" method="post" >
        {% csrf_token %}
        <fieldset>
            <legend>Link</legend>
            <table>
                <tr>
                    <td>
                    {{ form|as_p }}
                    </td>
                    <td>
                        <input type="submit" class="btn btn-danger" value="Submit Link">
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
{% endblock %}