{% extends 'polls/base.html' %}
{% block Title %}Link{% endblock %}
{% block Background %}
    {% endblock %}
{% block Body %}

<legend>Link</legend>
    <form class="form-inline" action="" method="post" >
        {% csrf_token %}
        <fieldset>
            <div class="form">
                     {{ form|as_p }}
            </div>
                    <input type="submit" class="btn btn-danger" value="Submit Link">
            <br>
            <br>
        </fieldset>
    </form>
     <br><br>

{% endblock %}