{% extends 'polls/base.html' %}
{% block Title %}U9 Webcheck list{% endblock %}
{% block Background %}
<div class="h-100" style="background-image: url('https://u9.by/assets/mainback.jpg'); background-size: cover;">
    {% endblock %}
    {% block Body %}
        <legend>Check websites availability and response codes</legend>
    Here you can setup periodical check of websites you're tracking, and sending notification if they're down <br>
    <b>Here is a documentation for Websites HTTP Response Codes </b> <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status"><i>more info</i></a>
    {% if form.errors %}
    <p style="color: orangered">Got errors! {{ form.errors }}</p>
    {% endif %}
    {% for message in messages %}
    <p style="color: orangered">{{ message }}</p>
    {% endfor %}
    <br><br>
      <legend>Existing records:</legend>
{% if webrecords %}
<div class="table-responsive">
<table class="table table-bordered" style="background-color: #eafff5; overflow-x: scroll;">
    <tr>
        <td>URL</td>
        <td>Polling frequency</td>
        <td>Notify</td>
        <td>Code 1xx</td>
        <td>Code 2xx</td>
        <td>Code 3xx</td>
        <td>Code 4xx</td>
        <td>Code 5xx</td>
        <td></td>
    </tr>
   {% for webrecord in webrecords %}
    <tr>
        <td>{{ webrecord.url }}</td>
        <td align="center">{% if webrecord.polling_frequency == '1' %}Every 15 min{% endif %}
            {% if webrecord.polling_frequency == '2' %}Every 30 min{% endif %}
            {% if webrecord.polling_frequency == '3' %}Every 60 min{% endif %}
            {% if webrecord.polling_frequency == '4' %}Every 2 hours{% endif %}
            {% if webrecord.polling_frequency == '5' %}Every 4 hours{% endif %}
            {% if webrecord.polling_frequency == '6' %}Every 8 hours{% endif %}
            {% if webrecord.polling_frequency == '7' %}Every 24 hours{% endif %}
            {% if webrecord.polling_frequency == '8' %}Every 2 days{% endif %}
            {% if webrecord.polling_frequency == '9' %}Every 4 days{% endif %}
            {% if webrecord.polling_frequency == '10' %}Every 7 days{% endif %}
        </td>
        <td align="center">{% if webrecord.notifycb %}<p style="color: green;">&#10004;</p>{% else %}<p style="color: red;">&#10006;</p>{% endif %}</td>
        <td align="center">{% if webrecord.code100cb %}<p style="color: green;">&#10004;</p>{% else %}<p style="color: red;">&#10006;</p>{% endif %}</td>
        <td align="center">{% if webrecord.code200cb %}<p style="color: green;">&#10004;</p>{% else %}<p style="color: red;">&#10006;</p>{% endif %}</td>
        <td align="center">{% if webrecord.code300cb %}<p style="color: green;">&#10004;</p>{% else %}<p style="color: red;">&#10006;</p>{% endif %}</td>
        <td align="center">{% if webrecord.code400cb %}<p style="color: green;">&#10004;</p>{% else %}<p style="color: red;">&#10006;</p>{% endif %}</td>
        <td align="center">{% if webrecord.code500cb %}<p style="color: green;">&#10004;</p>{% else %}<p style="color: red;">&#10006;</p>{% endif %}</td>
        <td align="center"> <a href="{% url 'polls:webcheckereditdelete' webrecord.pk %}" class="btn btn-danger active" role="button" aria-pressed="true">&#9998; Edit</a></td>
    </tr>
    {% endfor %}
</table>
</div>
    {% else %}
    No records found <br><br>

    {% endif %}
    <a href="{% url 'polls:webcheckeradd' %}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">&#10009; Add record</a>
<br><br>
    {% endblock %}