{% extends 'polls/base.html' %}
{% block Title %}Webcheck records list{% endblock %}
{% block Background %}
<div class="h-100" style="background-image: url('https://u9.by/assets/mainback.jpg'); background-size: cover;">
    {% endblock %}
    {% block Body %}
        <legend>Check websites availability and response codes</legend>
    Here you can setup periodical check of websites you're tracking, and sending notification if they're down
    {% if form.errors %}
    <p style="color: orangered">Got errors! {{ form.errors }}</p>
    {% endif %}
    {% for message in messages %}
    <p style="color: orangered">{{ message }}</p>
    {% endfor %}
    <br><br>
      <legend>Existing records:</legend>

    <a href="{% url 'polls:webcheckeradd' %}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Add record</a>

    {% endblock %}